

<div class="form-horizontal">
  
  <div class="form-group">
    <label class="col-sm-2 control-label">Tytuł</label>
    <div class="col-sm-10">
      {{input type="text" value=model.title class="form-control" placeholder="wpisz tytuł post"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Wiadomość</label>
    <div class="col-sm-10">
      {{input type="text" value=model.news class="form-control" placeholder="wpisz treść wiadomości"}}
    </div>
  </div>
 
  

 <label class="col-sm-2 control-label">Zdjęcie<br>(200x200)</label>
  <div class="form-group">
    <div class="col-sm-2">  
      {{x-file-input class="custom-class" multiple=false name="files" action=(action "didSelectImage") accept="image/*" alt="Dodaj zdjęcie"}}
    </div> 
  </div>


 <div class="form-group">

 <div class="col-sm-offset-2 col-sm-10">
     <img id='output' height="200" width="200" hidden={{shouldHideImage}}>
     <p></p>
 </div> 
 </div>





  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-default" {{action 'saveLibrary' model }}>Wyślij post </button>
    </div>
  </div>
</div>





 {{#if progress}}
      <div style="margin-top:50px;">
        <progress class="progress progress-success" value={{progress}} max="100"></progress>
      </div>
    {{/if}}

    {{#if status}}
      <p class="text-primary">{{progressText}}</p>
    {{/if}}

    {{#if downloadURL}}
      <div class="text-center">
        <img src="{{downloadURL}}" alt="" class="img-responsive img-rounded">
      </div>
  {{/if}}



